<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Je suis sûr de vouloir supprimer ce Post !');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button type="submit" class="btn btn-danger" aria-label="Delete">
        <i class="bi bi-trash"></i> Delete
    </button>
</form>
