{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Edit Post</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
            </div>

         
        </div>
        <div class="col-md-2 my-1">
            {{ include('post/_delete_form.html.twig') }}
        </div>

        <a class="btn btn-secondary my-1" href="{{ path('app_post_index') }}">Retour</a>
    </div>
{% endblock %}
